h1{text-align: center;}
h2{display: inline-block; margin-right: 20px;}
h3{display: inline-block; margin-inline: 50px}
textarea{height: 25px;}
a{text-align: center; font-size: 20px;}
input{margin-inline: 50px;}

div.center{text-align:center}