<h1>Task Tracker</h1>
<mat-grid-list cols="4" rowHeight="600px">
  <mat-grid-tile colspan="1"></mat-grid-tile>
  <mat-grid-tile class="bordered" colspan="1">
    <div>
      <h2>To-do tasks</h2>
      <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput type="text" name="taskID" ngModel required/>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput type="text" name="taskName" ngModel required/>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Task</mat-label>
          <input matInput type="text" name="taskTask" ngModel required/>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="outline">
          <mat-label>Deadline</mat-label>
          <input matInput type="text" name="taskDeadline" ngModel required>
        </mat-form-field>
        <br/>
        <button mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="primary" type="reset">Reset</button>
      </form>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class="bordered" colspan='1'>
    <div>
      <h2>To-do List</h2>
      <table border = 1 cellpadding = 15 align = center>
        <thead>
          <th>Emp id</th>
          <th>Name</th>
          <th>Task</th>
          <th>Deadline</th>
        </thead>
        <tbody>
          <tr *ngFor="let iter of taskList">
            <td>{{iter.id}}</td>
            <td>{{iter.name}}</td>
            <td>{{iter.task}}</td>
            <td>{{iter.deadline}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-grid-tile>

</mat-grid-list>
