<!-- Login Page -->
<div *ngIf="showLogin">
  <h2>Login</h2>
  <form #loginRef="ngForm" (ngSubmit)="checkLogin(loginRef)" >
    <label>UserName</label>
    <input type="text" name="username" ngModel required/><br/>
    <label>Password</label>
    <input type="password" name = "password" ngModel required/><br/>
    <input type="submit"/>
    <input type="reset"/>
    <br/>
    <a href="#" (click)="navRegister()">Signup</a>
  </form>
  <h3>{{loginMsg}}</h3>
</div>

<!-- Register Page -->
<div *ngIf="showRegister">
  <h2>Register</h2>
  <form #registerRef="ngForm" (ngSubmit)="checkRegister(registerRef)">
    <label>First Name</label>
    <input type="text" name="fname" ngModel required/><br/>
    <label>Last Name</label>
    <input type="text" name="lname" ngModel required/><br/>
    <label>Username</label>
    <input type="text" name="uname" ngModel required/><br/>
    <label>Password</label>
    <input type="password" name="pass" ngModel required/><br/>
    <input type="submit"/>
    <input type="reset"/>
    <br/>
    <a href="#" (click) = "navLogin()">Login</a>
  </form>
  <h3>{{registerMsg}}</h3>
</div>

<!-- Portfolio Page -->
<div *ngIf="showPortfolio">
  <h2>My Portfiolio</h2>
  <h3>Welcome, {{currUser}}</h3>
  <form #portfolioEntry="ngForm" (ngSubmit)="saveInfo(portfolioEntry)">
    <label>Contact Name</label>
    <input type="text" name="coName" ngModel required/><br/>
    <label>Phone No.</label>
    <input type="text" name="phoneNum" ngModel required/><br/>
    <input type="submit" value="Save"/> 
    <h3>{{infoMsg}}</h3>
  </form>
  <input type="button" value="Contact Details" (click)="showPort()"/>
  <div *ngIf="showTable">
    <table>
      <thead>
        <th>Name</th>
        <th>Phone No.</th>
      </thead>
      <tbody>
        <tr *ngFor="let iter of infoArr">
          <td>{{iter.conName}}</td>
          <td>{{iter.conNum}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>