<!-- Login Page -->
<div>
  <h2>Login</h2>
  <form #loginRef="ngForm" (ngSubmit)="checkLogin(loginRef)">
    <label>UserName</label>
    <input type="text" name="username" ngModel required/><br/>
    <label>Password</label>
    <input type="password" name = "password" ngModel required/><br/>
    <input type="submit"/>
    <input type="reset"/>
    <h4>Signup</h4>
  </form>
  {{loginMsg}}
</div>

<!-- Register Page -->
<div>
  <h2>Register</h2>
  <form #registerRef="ngForm" (ngSubmit)="checkRegister(registerRef)">
    <label>First Name</label>
    <input type="text" name="fname" ngModel required/><br/>
    <label>Last Name</label>
    <input type="text" name="lname" ngModel required/><br/>
    <label>Username</label>
    <input type="text" name="uname" ngModel required/><br/>
    <label>Password</label>
    <input type="password" name="pass" ngModel required/><br/>
    <input type="submit"/>
    <input type="reset"/>
    <h4>Login</h4>
  </form>
  {{registerMsg}}
</div>

<!-- Portfolio Page -->
<div>
  <h2>My Portfiolio</h2>
</div>